<div class="control" ng-form ng-if="field.isVisible(tunnel)" name="currentField" ng-class="{'focused':focus, 'current':tunnel.isCurrentField(field)}">
    <div class="label">
        <label class="name-label" for="{{key}}">{{field.label}}</label>
    </div>
    <div class="input">
        <select name="{{key}}" select-update-values  field="field" key-for-values="{{field.keyForValues}}" ng-model="field.value" ng-options="value.id as value.label for value in tunnel.filter(key,field.values)" next-field="{{field.nextField}}" auto-change="{{field.autoChange}}" ng-required="field.isRequire(tunnel)" ng-focus="focus = true; tunnel.setCurrentField(field)" ng-blur="focus = false">
            <option value="">{{field.emptyMessage}}</option>
        </select>
        <div class="messages" ng-if="currentField[key].$touched" ng-messages="currentField[key].$error" role="alert">
            <div ng-message="required">{{field.requireMessage}}</div>
        </div>
        <div class="messages warning" ng-if="currentField[key].$touched && currentField[key].$valid && field.oddValue()" role="contentinfo">
            <div>{{field.oddMessage}}</div>
        </div>
    </div>
    <div class="tooltip">
        <div>
            <p ng-bind-html="field.tooltip"></p>
            <a ng-if="field.skip" class="skipper" ng-click="tunnel.nextInput()">{{ field.skipMessage }}</a>
        </div>
    </div>
</div>
