/* app css stylesheet */
html, body {
    background-color: #e2e8e6;
    font-family: "Arial";
}

div.main {
    height: auto;
    width: 100%;
}

div.header {
    height: 85px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #C1C1C1;
}

.tunnel {
    margin: 50px auto 0;
    position: relative;
    height: 600px;
    width: 1024px;
    background-color: #fafafa;
    z-index: 0;
    overflow: hidden;
}

    .tunnel > .tunnel-background-group {
        padding: 1px 20px;
        font-size: 13px;
        color: #6F9B9A;
        background-color: white;
        border: 1px solid #e7e7e7;
        width: auto;
        top: 112px;
        left: 0;
        position: absolute;
        border-radius: 0 10px 0 0;
        font-weight: 500;
        height: 16px;
    }

    .tunnel > .tunnel-background-arrow {
        top: 132px;
        left: -5px;
        background-color: #0fa2a2;
        z-index: 2;
        height: 30px;
        min-width: 250px;
        position: absolute;
        font-size: 20px;
        color: white;
        padding: 10px 0 10px 20px;
    }

        .tunnel > .tunnel-background-arrow::after {
            content: "";
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-left: 30px solid #0fa2a2;
            right: -30px;
            top: 0px;
            height: 0;
            width: 0;
            position: absolute;
            display: block;
        }

    .tunnel > .tunnel-scroll {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        transition: top 0.2s ease-out;
    }

        .tunnel > .tunnel-scroll > form > div > div {
            min-height: 105px;
        }

        .tunnel > .tunnel-scroll > form > div.tunnel-whitespace {
            height: 105px;
        }

select, input[type=text], input[type=number], input[type=date],input[type="submit"] {
    width: 206px;
    padding-left: 20px;
    height: 49px;
    font-size: 20px;
    color: #575757;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    box-shadow: 1px 3px 0px 0px #F1F1F1;
}
input[type="submit"] {
  clear: both;
}
select {
    width: 226px;
}

    select:focus, input[type=text]:focus, input[type=number]:focus, input[type=date]:focus {
        border-style: solid;
        border-width: 2px;
        border-color: #E77F00;
        outline: none !important;

    }
    select:focus::-ms-value {
      background-color: white;
      color: black;
    }

    select.ng-touched.ng-invalid, input[type=text].ng-touched.ng-invalid, input[type=number].ng-touched.ng-invalid {
        outline: none !important;
        border: 1px solid red;
    }

        select.ng-touched.ng-invalid, input[type=text].ng-touched.ng-invalid:focus, input[type=number].ng-touched.ng-invalid:focus {
            outline: none !important;
            border: 2px solid red;
        }

div.control {
    width: 100%;
    height: auto;
    clear: both;
    background-color: transparent;
}

    div.control > div.tooltip, div.control > div.input {
        width: 30%;
        float: left;
        padding: 25px 0;
    }

    div.control > div.label {
        float: left;
        padding: 25px 0;
        width: 40%;
    }

        div.control > div.label > span {
            display: block;
            margin-left: 20px;
            margin-top: -15px;
            font-size: 12px;
            color: transparent;
            transition: color 0.2s ease-out;
        }

    div.control.focused > div.label > span {
        color: #6F9B9A;
    }

    div.control > div.label > .name-label {
        display: block;
        margin:0 0 0 15px;
        padding: 12px 0;
        font-size: 20px;
        transition: color 0.2s ease-out;
    }

    div.control.focused > div.label > .name-label {
        color: white;
    }

    div.control > div.tooltip {
        position: relative;
    }

        div.control > div.tooltip > div {
            position: absolute;
            top: 5px;
            left: 5px;
            display: block;
            color: #6D6D6D;
            opacity: 0;
            font-size: 14px;
            transition: opacity 0.2s ease-out;
        }

            div.control > div.tooltip > div > p {
                margin-bottom: 0;
            }

            div.control > div.tooltip > div > a.skipper {
                color: #E77F00;
                text-decoration: underline;
                cursor: pointer;
            }

    div.control.focused > div.tooltip > div, div.control.current > div.tooltip > div {
        opacity: 1;
    }

    div.control > div.input > div.messages {
        font-size: 14px;
        color: red;
    }
        div.control > div.input > div.messages.warning {
        color: #E77F00;
    }
    div.control > div.input > label.yesno-label {
        margin-right: 10px;
        margin-top: 15px;
        padding: 5px 5px 5px 30px;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

        div.control > div.input > label.yesno-label > span.cicle {
            border: 2px solid #0EA2A2;
            padding: 0;
            margin: 0px;
            width: 20px;
            height: 20px;
            border-radius: 12px;
            position: absolute;
            display: block;
            top: 2px;
            left: 2px;
        }

        div.control > div.input > label.yesno-label.selected > span.cicle {
            background-color: #0ea2a2;
        }

        div.control > div.input > label.yesno-label > input[type=radio] {
            position: absolute;
            left: -30px;
        }

            div.control > div.input > label.yesno-label > input[type=radio]:focus + span.cicle {
                box-shadow: 0px 0px 0px 2px #E77F00;
            }

#down-arrow, #up-arrow {
    height: 50px;
    width: 50px;
    top: 20px;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}

#down-arrow {
    right: 20px;
}

#up-arrow {
    right: 90px;
}
label.optin{
  font-size: 12px;
    display: block;
    position: relative;
    opacity: 0.6;
    margin-top:3px;
}
label.optin>input{
  display: block;
margin-top: 1px;
float: left;
margin-right: 2px;
}
