<div class="control" ng-form ng-if="field.isVisible(tunnel)" name="currentField" ng-class="{'focused':focus}">
    <div class="label">
        <label class="name-label" for="{{key}}">{{field.label}}</label>
    </div>
    <div class="input">
        <input type="number" ng-model="field.value" name="{{key}}" ng-required="field.isRequire(tunnel)" ng-min="field.minvalue" ng-max="field.maxvalue" ng-trim="true" next-field="{{field.nextField}}" auto-change="{{field.autoChange}}" ng-focus="focus = true; tunnel.setCurrentField(field)" ng-blur="focus = false"/>
        <div class="messages" ng-if="currentField[key].$touched" ng-messages="currentField[key].$error" role="alert">
            <div ng-message="required">{{field.requireMessage}}</div>
            <div ng-message="number">{{field.numberMessage}}</div>
            <div ng-message="min">{{field.minvalueMessage}}</div>
            <div ng-message="max">{{field.maxvalueMessage}}</div>
            <div ng-message="pattern">{{field.patternMessage}}</div>
        </div>
    </div>
    <div class="tooltip">
        <p ng-bind-html="field.tooltip"></p>
    </div>
</div>