<div class="control" ng-form ng-if="field.isVisible(tunnel)" name="currentField" ng-class="{'focused':focus, 'current':tunnel.isCurrentField(field)}">
        <div class="label">
            <label class="name-label" for="{{key}}">{{field.label}}</label>
        </div>
        <div class="input">
            <input type="text" placeholder="AAAA" ng-model="field.value" name="{{key}}" ng-required="field.isRequire(tunnel)" minlength="4" maxlength="4" minyear="{{field.minyear}}" maxyear="{{field.maxyear}}" pattern="^\d{4}$" ng-trim="true" next-field="{{field.nextField}}" auto-change="{{field.autoChange}}" ng-focus="focus = true; tunnel.setCurrentField(field)" ng-blur="focus = false" />
            <div class="messages" ng-if="currentField[key].$touched" ng-messages="currentField[key].$error" role="alert">
                <div ng-message="required">{{field.requireMessage}}</div>
                <div ng-message="minyear">{{field.minyearMessage}}</div>
                <div ng-message="maxyear">{{field.maxyearMessage}}</div>
                <div ng-message="pattern">{{field.patternMessage}}</div>
            </div>
        </div>
        <div class="tooltip">
            <div>
                <p ng-bind-html="field.tooltip"></p>
                <a ng-if="field.skip" class="skipper" ng-click="tunnel.nextInput()">{{ field.skipMessage }}</a>
            </div>
        </div>
</div>